.med-borderless {
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 1px solid #b6b6b6 !important;
  border-radius: 0px !important;
  font-family: "Nunito", sans-serif !important;
  -webkit-transition: border 500ms ease-out;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
  &::placeholder {
    color: #dfdfe2 !important;
  }
  &:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #793f5c !important;
  }
}
.input-group-text {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #b6b6b6;
  border-radius: 0px;
}